<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>FOOD</title>
    <link rel="stylesheet" href="../css/layout.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
  </head>
  <body>
    <nav></nav>

    <main>
      <div class="slider">
            <div class="w3-content w3-section" style="max-width:100vh">
                    <!-- <img class="mySlides" src="" style="width:100%">
                    <img class="mySlides" src="" style="width:100%">
                    <img class="mySlides" src="" style="width:100%"> -->
                  </div>
                  
                  <script>
                  var myIndex = 0;
                  carousel();
                  
                  function carousel() {
                    var i;
                    var x = document.getElementsByClassName("mySlides");
                    for (i = 0; i < x.length; i++) {
                      x[i].style.display = "none";  
                    }
                    myIndex++;
                    if (myIndex > x.length) {myIndex = 1}    
                    x[myIndex-1].style.display = "block";  
                    setTimeout(carousel, 2000); // Change image every 2 seconds
                  }
                  </script>
        <div class="logo"></div>
        <div class="title">
          <h2>
            DELICIOUS <strong style="color:lawngreen">&</strong> AUTHENTIC
            <br />
            <span>CUISINE</span>
          </h2>
        </div>
        <button class="order"><h4>ORDER ONLINE</h4></button>
      </div>
      <div class="welcome">
        <br /><br />
        <h2>WELCOME!</h2>
        <h3>
          MASAGNI DOLORES EOQUIE VOLQUE PORFASERTAS KERTYUAS MIERTASE BERYIUASE
          ESTQUIOEM IPSUMQUIA DOLORE
        </h3>

        <h4>
          Sitamet consectet, adipisci uumquam eius modi tempora incidunt, ut
          labore et dolore magnam. Baliquamaerat voluptaut enim ad minima
          veniam, quis nostrum exercitationem ullam corporis suscipit
          laboriosam, nisi ut aliquid ex ea commodi conse quatur. Autem vel eum
          iure reprehenderit, qui a voluptate nertyaesra. Cerelit esse, quam
          nihil molestiae murtasa kertyas. consequatur, vel illum, qui dolorem
          eum fugiat, quo voluptas nulla pariatur.
        </h4>
      </div>
      <div class="food1">
        <br />
        <h1>OUR FOOD TO MAKE </br>YOU FEEL GOOD!</h1>
           <h6>Sitamet consectet, adipisci uumquam eius modi tempora incidunt, ut labore et dolore magnam. 
               Baliquamaerat miuyas voluptaut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam,
                nisi ut aliquid ex ea commodise consequatur. Autem vel eum iure reprehenderit, qui a voluptate nertyaesra.
            </h6> 
            <button>LEARN MORE</button>
      </div>
      <div class="menu_food">
            <h1 style=" font-family:Comic Sans MS" >FEATURED MENU</h1><br>
            <span style=" font-family:Comic Sans MS">IPSUMQUIA DOLORE RTASE BERYIUASE MASAGNI DOLORES EOQUIE VOLQUE PORFASERTAS KERTYUAS MIEESTQUIOEM </span> 
            <div class="menu_con" >
            <img src=".." alt="">img</div>
            <div class="menu_con">img</div>
            <div class="menu_con">img</div>
            <div class="menu_con">img</div>
      </div>
      <div class="food2">
         <br>
         
        <h1 style=" font-family: Lobster, serif;" >HAPPY HOUR DAILY <br> 4-7 P.M. </h1>
        <h6>Cerabore et dolore magnam. Baliquamaerat miuyas tamet conse ctet,</h6>
          <h6>
            adipisci uumquam eius modi tempora incidunt, ut voluptaut enim ad </h6>
            <h6>minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam.</h6>
      </div>
      <div class="event">
        <p><b>NEWS & EVENTS</b></p>
        <h6>RTASE BERYIUASE MASAGNI DOLORES EOQUIE VOLQUE PORFASERTAS KERTYUAS MIEESTQUIOEM IPSUMQUIA DOLORE</h6>
        <div class="grid-container">
            <div class="item1" style="margin: auto auto; width: 150px">
              <h3 style="font-size: 70px;font-weight: lighter">20 </h3><span>JUNE</span> </div>
              
            <div class="item2" style="margin-right:30px;" >
              <h4 style="color:rgb(20, 110, 20)">VINTUR MAGNO SATESES</h4><br>
               <span style="font-size: 20px">certa baditaut onquser kisreras feate msequi nesciunt. Niques porroisq umquam eiumodi tempora ncidunt. </span></div>
            
               <div class="item3" style=" margin: auto auto;width: 150px">
              <h3 style="font-size: 70px;font-weight: lighter">21 </h3><span>JUNE</span> </div>  
            
              <div class="item4"   style="margin-right:30px;" >
              <h4 style="color:rgb(20, 110, 20)">KERTADITAUT SER KAYTSRERA</h4><br>
              <span style="font-size: 20px"> untur magni dolores eoquie asena voluptate msequi nesciunt. Niques porroisquam umquam eiumodi liuyas verpora. </span></div>
            
              <div class="item5" style="margin: auto auto;width: 150px">
              <h3 style="font-size: 70px;font-weight: lighter">22 </h3><span>JUNE</span> </div>
            
              <div class="item6"  style="margin-right:30px;" >
              <h4 style="color:rgb(20, 110, 20)">VINTUR MAGNO SATESES</h4><br>
              <span style="font-size: 20px">certa baditaut onquser kisreras feate msequi nesciunt. Niques porroisq umquam eiumodi tempora ncidunt. </span></div>
           
          </div>
      </div>
     
        
      <div class="footer">
        <footer></footer>
      </div>
    </main>
  </body>
</html>
